In [2]:
import sqlite3

In [7]:
db = sqlite3.connect("ineuron.db")

In [25]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 52C6-F392

 Directory of C:\Users\Admin

02/22/2022  01:01 PM    <DIR>          .
02/22/2022  01:01 PM    <DIR>          ..
02/12/2022  08:20 AM    <DIR>          .astropy
02/12/2022  08:21 AM    <DIR>          .conda
12/10/2021  12:21 PM                25 .condarc
12/10/2021  12:20 PM    <DIR>          .continuum
02/22/2022  11:19 AM    <DIR>          .ipynb_checkpoints
12/10/2021  01:06 PM    <DIR>          .ipython
12/11/2021  07:11 PM    <DIR>          .jupyter
01/22/2022  01:21 PM    <DIR>          .kivy
02/12/2022  11:52 AM    <DIR>          .minikube
02/12/2022  11:23 AM    <DIR>          .vscode
10/04/2021  11:39 PM    <DIR>          3D Objects
12/10/2021  12:18 PM    <DIR>          anaconda3
02/06/2022  10:06 PM            51,867 car.data
10/04/2021  11:39 PM    <DIR>          Contacts
02/20/2022  08:13 AM    <DIR>          Desktop
12/10/2021  12:17 PM    <DIR>          Documents
02/12/2022  11:22 AM    <DIR>          Downloads
10/04/2021  11:39 PM    <DIR>          Favorites
02/05/2022  01:42 PM            10,053 glass.csv
02/05/2022  02:08 PM            11,903 glass.data
02/22/2022  01:01 PM             8,192 ineuron.db
10/04/2021  11:39 PM    <DIR>          Links
10/04/2021  11:39 PM    <DIR>          Music
02/06/2022  11:13 PM           157,284 Mysql - home assignment 6th feb 2022.ipynb
02/05/2022  02:18 PM            17,862 mysql.ipynb
10/04/2021  11:43 PM    <DIR>          OneDrive
10/04/2021  11:41 PM    <DIR>          Pictures
01/22/2022  01:06 PM    <DIR>          PycharmProjects
02/11/2022  03:17 PM             6,727 python_Programming_Assingment_9.ipynb
10/04/2021  11:39 PM    <DIR>          Saved Games
10/04/2021  11:41 PM    <DIR>          Searches
02/22/2022  01:00 PM             6,605 SQLLITE.ipynb
12/10/2021  01:07 PM               588 Untitled.ipynb
12/11/2021  07:15 PM               588 Untitled1.ipynb
12/18/2021  09:59 AM             1,075 Untitled2.ipynb
12/14/2021  10:20 PM    <DIR>          Videos
              12 File(s)        272,769 bytes
              26 Dir(s)  25,850,482,688 bytes free

In [12]:
c = db.cursor()

In [13]:
c.execute('create table fsds(name text, batchid int, marks real)')

In [15]:
c.execute('insert into fsds values ("Elango",23232, 3434.34)')

In [18]:
c.execute('insert into fsds values ("Elango",23232, 3434.34)')
c.execute('insert into fsds values ("Elango",23232, 3434.34)')
c.execute('insert into fsds values ("Elango",23232, 3434.34)')
c.execute('insert into fsds values ("Elango",23232, 3434.34)')
c.execute('insert into fsds values ("Elango",23232, 3434.34)')

In [20]:
data = c.execute("select * from fsds")

In [21]:
for i in data:
    print(i)

('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)

In [23]:
db.commit()

In [24]:
db.close()

In [26]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 52C6-F392

 Directory of C:\Users\Admin

02/22/2022  01:02 PM    <DIR>          .
02/22/2022  01:02 PM    <DIR>          ..
02/12/2022  08:20 AM    <DIR>          .astropy
02/12/2022  08:21 AM    <DIR>          .conda
12/10/2021  12:21 PM                25 .condarc
12/10/2021  12:20 PM    <DIR>          .continuum
02/22/2022  11:19 AM    <DIR>          .ipynb_checkpoints
12/10/2021  01:06 PM    <DIR>          .ipython
12/11/2021  07:11 PM    <DIR>          .jupyter
01/22/2022  01:21 PM    <DIR>          .kivy
02/12/2022  11:52 AM    <DIR>          .minikube
02/12/2022  11:23 AM    <DIR>          .vscode
10/04/2021  11:39 PM    <DIR>          3D Objects
12/10/2021  12:18 PM    <DIR>          anaconda3
02/06/2022  10:06 PM            51,867 car.data
10/04/2021  11:39 PM    <DIR>          Contacts
02/20/2022  08:13 AM    <DIR>          Desktop
12/10/2021  12:17 PM    <DIR>          Documents
02/12/2022  11:22 AM    <DIR>          Downloads
10/04/2021  11:39 PM    <DIR>          Favorites
02/05/2022  01:42 PM            10,053 glass.csv
02/05/2022  02:08 PM            11,903 glass.data
02/22/2022  01:01 PM             8,192 ineuron.db
10/04/2021  11:39 PM    <DIR>          Links
10/04/2021  11:39 PM    <DIR>          Music
02/06/2022  11:13 PM           157,284 Mysql - home assignment 6th feb 2022.ipynb
02/05/2022  02:18 PM            17,862 mysql.ipynb
10/04/2021  11:43 PM    <DIR>          OneDrive
10/04/2021  11:41 PM    <DIR>          Pictures
01/22/2022  01:06 PM    <DIR>          PycharmProjects
02/11/2022  03:17 PM             6,727 python_Programming_Assingment_9.ipynb
10/04/2021  11:39 PM    <DIR>          Saved Games
10/04/2021  11:41 PM    <DIR>          Searches
02/22/2022  01:02 PM             6,845 SQLLITE.ipynb
12/10/2021  01:07 PM               588 Untitled.ipynb
12/11/2021  07:15 PM               588 Untitled1.ipynb
12/18/2021  09:59 AM             1,075 Untitled2.ipynb
12/14/2021  10:20 PM    <DIR>          Videos
              12 File(s)        273,009 bytes
              26 Dir(s)  25,850,437,632 bytes free

In [27]:
db = sqlite3.connect("ineuron.db")

In [28]:
c = db.cursor()

In [29]:
data = c.execute("select * from fsds where marks> 100")

In [32]:
for i in data:
    print(i)

In [31]:
db = sqlite3.connect()

TypeError: function missing required argument 'database' (pos 1)

In [36]:
db = sqlite3.connect('ineuron.db')

In [37]:
c = db.cursor()

In [41]:
data = c.execute("select * from fsds limit 2")

In [42]:
for i in data:
    print(i)

('Elango', 23232, 3434.34)
('Elango', 23232, 3434.34)

In [43]:
db.close()

In [44]:
db = sqlite3.connect('jobdb.db')

In [45]:
c =  db.cursor()

In [46]:
c.execute('create table student (student_id int, student_name text, student_mailid text, marks int)')

In [49]:
c.execute('create table address(student_id int, pincode int, location text, nearby next , phone_no int)')

In [48]:
c.execute('drop table address')

In [51]:
c.execute('insert into student values(123, "Elango","elango@fdf.fd",435)')
c.execute('insert into student values(124, "Elango","elango@fdf.fd",435)')
c.execute('insert into student values(125, "Elango","elango@fdf.fd",435)')
c.execute('insert into student values(126, "Elango","elango@fdf.fd",435)')
c.execute('insert into student values(127, "Elango","elango@fdf.fd",435)')
c.execute('insert into student values(128, "Elango","elango@fdf.fd",435)')
c.execute('insert into student values(129, "Elango","elango@fdf.fd",435)')
c.execute('insert into student values(121, "Elango","elango@fdf.fd",435)')
c.execute('insert into student values(122, "Elango","elango@fdf.fd",435)')
c.execute('insert into student values(120, "Elango","elango@fdf.fd",435)')

In [54]:
c.execute('insert into address values(124, 32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(125,32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(126, 32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(127, 32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(128, 32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(129,32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(121, 32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(122, 32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(120, 32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(1292,32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(1231, 32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(1223, 32323,"ERERE RERER RERE","FFDF 43",2332323333)')
c.execute('insert into address values(1203, 32323,"ERERE RERER RERE","FFDF 43",2332323333)')

In [59]:
data = c.execute("select * from student a  LEFT JOIN address b on a.student_id = b.student_id  where b.student_id is not null")

In [60]:
for i in data:
    print(i)

(124, '32323', 'ERERE RERER RERE', 2332323333, 124, 32323, 'ERERE RERER RERE', 'FFDF 43', 2332323333)
(124, 'Elango', 'elango@fdf.fd', 435, 124, 32323, 'ERERE RERER RERE', 'FFDF 43', 2332323333)
(125, 'Elango', 'elango@fdf.fd', 435, 125, 32323, 'ERERE RERER RERE', 'FFDF 43', 2332323333)
(126, 'Elango', 'elango@fdf.fd', 435, 126, 32323, 'ERERE RERER RERE', 'FFDF 43', 2332323333)
(127, 'Elango', 'elango@fdf.fd', 435, 127, 32323, 'ERERE RERER RERE', 'FFDF 43', 2332323333)
(128, 'Elango', 'elango@fdf.fd', 435, 128, 32323, 'ERERE RERER RERE', 'FFDF 43', 2332323333)
(129, 'Elango', 'elango@fdf.fd', 435, 129, 32323, 'ERERE RERER RERE', 'FFDF 43', 2332323333)
(121, 'Elango', 'elango@fdf.fd', 435, 121, 32323, 'ERERE RERER RERE', 'FFDF 43', 2332323333)
(122, 'Elango', 'elango@fdf.fd', 435, 122, 32323, 'ERERE RERER RERE', 'FFDF 43', 2332323333)
(120, 'Elango', 'elango@fdf.fd', 435, 120, 32323, 'ERERE RERER RERE', 'FFDF 43', 2332323333)

In [61]:
data = c.execute("select * from student")

In [62]:
data.fetchall()

[(123, 'Elango', 'elango@fdf.fd', 435),
 (123, 'Elango', 'elango@fdf.fd', 435),
 (123, 'Elango', 'elango@fdf.fd', 435),
 (123, 'Elango', 'elango@fdf.fd', 435),
 (123, 'Elango', 'elango@fdf.fd', 435),
 (123, 'Elango', 'elango@fdf.fd', 435),
 (123, 'Elango', 'elango@fdf.fd', 435),
 (123, 'Elango', 'elango@fdf.fd', 435),
 (123, 'Elango', 'elango@fdf.fd', 435),
 (123, 'Elango', 'elango@fdf.fd', 435),
 (123, 'Elango', 'elango@fdf.fd', 435),
 (124, 'Elango', 'elango@fdf.fd', 435),
 (125, 'Elango', 'elango@fdf.fd', 435),
 (126, 'Elango', 'elango@fdf.fd', 435),
 (127, 'Elango', 'elango@fdf.fd', 435),
 (128, 'Elango', 'elango@fdf.fd', 435),
 (129, 'Elango', 'elango@fdf.fd', 435),
 (121, 'Elango', 'elango@fdf.fd', 435),
 (122, 'Elango', 'elango@fdf.fd', 435),
 (120, 'Elango', 'elango@fdf.fd', 435),
 (124, '32323', 'ERERE RERER RERE', 2332323333)]

In [64]:
c.execute("update  student set student_id =  2000 where student_id =123")

In [68]:
data = c.execute("select * from student")

In [69]:
data.fetchall()

[(2000, 'Elango', 'elango@fdf.fd', 435),
 (2000, 'Elango', 'elango@fdf.fd', 435),
 (2000, 'Elango', 'elango@fdf.fd', 435),
 (2000, 'Elango', 'elango@fdf.fd', 435),
 (2000, 'Elango', 'elango@fdf.fd', 435),
 (2000, 'Elango', 'elango@fdf.fd', 435),
 (2000, 'Elango', 'elango@fdf.fd', 435),
 (2000, 'Elango', 'elango@fdf.fd', 435),
 (2000, 'Elango', 'elango@fdf.fd', 435),
 (2000, 'Elango', 'elango@fdf.fd', 435),
 (2000, 'Elango', 'elango@fdf.fd', 435),
 (124, 'Elango', 'elango@fdf.fd', 435),
 (125, 'Elango', 'elango@fdf.fd', 435),
 (126, 'Elango', 'elango@fdf.fd', 435),
 (127, 'Elango', 'elango@fdf.fd', 435),
 (128, 'Elango', 'elango@fdf.fd', 435),
 (129, 'Elango', 'elango@fdf.fd', 435),
 (121, 'Elango', 'elango@fdf.fd', 435),
 (122, 'Elango', 'elango@fdf.fd', 435),
 (120, 'Elango', 'elango@fdf.fd', 435),
 (124, '32323', 'ERERE RERER RERE', 2332323333)]

In [70]:
db.close()

In [71]:
l = [1,2,3,4,5]

In [76]:
def test(a):
    return a+5

In [72]:
li = []
for i in l:
    li.append(i+5)

In [73]:
li

[6, 7, 8, 9, 10]

In [74]:
[i+5 for i in l]

[6, 7, 8, 9, 10]

In [80]:
list(map(test, l))

[6, 7, 8, 9, 10]

In [81]:
l1= ['2323','3232','43434','5454545','545454']

In [82]:
def convint(a):
    return  int(a)

In [83]:
list(map(convint,l1))

[2323, 3232, 43434, 5454545, 545454]

In [84]:
list(map(lambda x :int(x), l1))

[2323, 3232, 43434, 5454545, 545454]

In [86]:
list(map(lambda x : int(x+5),l))

[6, 7, 8, 9, 10]

In [87]:
l = [4,5,6,7,78,8,78]

In [89]:
def evnno(a):
    if a%2 == 0:
        return  a

In [90]:
list(map(evnno,l))

[4, None, 6, None, 78, 8, 78]

In [91]:
[i for i in l if i%2 == 0 ]

[4, 6, 78, 8, 78]

In [93]:
list(filter(evnno , l))

[4, 6, 78, 8, 78]

In [95]:
list(map(evnno , l))

[4, None, 6, None, 78, 8, 78]

In [96]:
list(filter(lambda x : x%2 == 0 , l))

[4, 6, 78, 8, 78]

In [97]:
list(map(lambda x : x%2 == 0 , l))

[True, False, True, False, True, True, True]

In [98]:
list(filter(lambda x : x+5 , l))

[4, 5, 6, 7, 78, 8, 78]

In [99]:
list(filter(lambda x : x%3 == 0 , l))

[6, 78, 78]

In [100]:
from functools import reduce

In [101]:
i = [3,4,5,6,7,8,8]

In [102]:
sum(i)

41

In [103]:
def test5(a,b):
    return a+b

In [105]:
reduce(test5, i)

41

In [108]:
def test6(a,b,c):
    return a+b+c

In [109]:
reduce(test6, i)

TypeError: test6() missing 1 required positional argument: 'c'

In [116]:
reduce(test7, [3,0])

0

In [113]:
def test7(a,b):
    return a*b

In [118]:
reduce (lambda x,y: x/y,i)

5.580357142857143e-05

In [121]:
l = [1,2,3,4,5]
l1 = [21,32,43,44,54]

In [122]:
list(zip(l,l1))

[(1, 21), (2, 32), (3, 43), (4, 44), (5, 54)]